.back_button {
    background: none;
    border: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back_button_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #001530;

    opacity: 0.8;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

#report_main {
    margin: 0 10px;
}

.input_label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;

    opacity: 0.8;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.15);

    margin-bottom: 8px;
    text-align: left;
}

.input_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#inputs {
    margin: 10px;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.textarea {
    border: none;
    background: #F2F2F2;
    box-shadow: -4px -4px 6px #EFEFEF, 2px 2px 6px 2px rgba(171, 171, 171, 0.4);
    font-family: 'Nunito', sans-serif;
    border-radius: 15px;
    text-indent: 10px;
}

.ReportDiv {
    width: 400px;
    height: 500px;
    background: #FFFFFF;
}

#phone_code {
    margin-right: 10px;
}

#phone_number_input {
    display: flex;
    flex-direction: row;
}

#button_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ContinueButton {
    border: none;
    padding: 0 40px;
    height: 50px;
    background: #001530;
    box-shadow: -4px -4px 6px rgba(239, 239, 239, 0.5), 4px 4px 6px rgba(171, 171, 171, 0.599836);
    border-radius: 100px;
}
